@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"); /* variables css */
:root {
  --cian: rgb(49, 192, 202);
  --black: rgb(68, 68, 68);
  --light-color: rgb(105, 103, 103);
  --box-shadow: .1rem .1rem 0 rgba(22, 160, 133, .2);
  --text-shadow: .2rem .2rem 0 rgba(0, 0, 0, .2);
  --border: .1rem solid var(--cian);
  --black: rgb(14, 23, 23);
}

* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  background-image: url("../images/background.svg");
}

/*inicio de css para navbar*/
nav div {
  overflow: hidden;
  background-color: white;
  box-shadow: 0.3rem 0.3rem 0 rgba(188, 222, 215, 0.2);
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  transition-delay: 0.3s;
  transform: translateY(-110%);
}
nav div ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav div ul li {
  padding: 10px;
}
nav div ul li a {
  color: black;
  text-decoration: none;
}
nav div ul li a:hover {
  font-size: 20px;
}

/* para hacer el nav responcive */
.toggle-menu {
  position: absolute;
  top: 3.5rem;
  left: 0.5rem;
  cursor: pointer;
  width: 40px;
  z-index: 1;
}
.toggle-menu img {
  width: 100%;
}

.show-menu {
  transform: translateY(0);
}

.checkMenu {
  display: none;
}

.checkMenu:checked + .divNav {
  transform: translateY(0);
}

.navAuth {
  padding-right: 30px;
}

li img {
  width: 80px;
  height: 80px;
}

.signIn {
  margin: 5px;
  background-color: aqua;
  border-radius: 10px;
}

.signUp {
  border: 1px aqua solid;
  border-radius: 10px;
}

footer {
  padding: 1rem 9%;
  background-color: rgb(199, 199, 199);
}
footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  gap: 2rem;
}
footer .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--black);
  padding: 1rem 0;
}
footer .box-container .box a {
  text-decoration: none;
  display: block;
  font-size: 1rem;
  color: var(--light-color);
  padding: 0.5rem 0;
}
footer .box-container .box a i {
  padding-right: 0.5rem;
  color: var(--black);
}
footer .box-container .box a:hover i {
  padding-right: 2rem;
}
footer .credit {
  padding: 1rem;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.5rem;
  color: var(--light-color);
  border-top: 0.5rem solid rgba(0, 0, 0, 0.1);
}
footer .credit span {
  color: var(--black);
}

/* mixin para flex */
/* mixin para botones */
/*inicio de css para index*/
main {
  padding: 10px;
}

.one {
  padding: 2rem 9%;
  padding-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.one .image {
  flex: 1 1 45rem;
}
.one .image img {
  width: 100%;
}
.one p {
  width: 50%;
  font-weight: bold;
  font-variant: small-caps;
  font-family: monospace;
  letter-spacing: 4px;
  color: var(--cian);
  text-align: center;
  font-size: 4rem;
  padding: 0.5rem 0;
  text-shadow: var(--text-shadow);
}
.one div {
  display: flex;
  justify-content: end;
  width: 80%;
}
.one .parrafo_main {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  font-size: 20px;
}

.divMain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.image-respon img {
  width: 100%;
}

#imgSection img {
  width: 100%;
  height: 300px;
}

/* css para servicios del hospital */
.icon-contenedor {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  padding-top: 5rem;
  padding: 1rem;
  padding-bottom: 5rem;
}
.icon-contenedor div {
  background-color: rgb(240, 240, 240);
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  text-align: center;
  padding: 1rem;
}
.icon-contenedor div h3 {
  font-size: 2rem;
  color: var(--black);
  padding: 0.5rem 0;
  text-shadow: var(--text-shadow);
}
.icon-contenedor div i {
  font-size: 3rem;
  color: var(--cian);
  padding-bottom: 0.7rem;
}
.icon-contenedor div p {
  font-size: 1.3rem;
  color: var(--light-color);
}

.two {
  padding: 1rem 9%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 2rem;
}
.two .perfil {
  margin: 3px;
  text-align: center;
  background: rgb(240, 240, 240);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 1rem;
  overflow: hidden;
}
.two .perfil img {
  height: 20rem;
  width: 100%;
  border: var(--border);
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: var(--border);
}
.two .perfil h3 {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--black);
}
.two .perfil span {
  font-size: 1.2rem;
  color: var(--gray);
  margin-top: 0.8rem;
}
.two .perfil .card {
  padding: 1rem;
  transform: translateY(100%);
  transition: transform 500ms ease;
}
.two .perfil .card .share a {
  text-decoration: none;
  width: 1.8rem;
  line-height: 1.5rem;
  font-size: 2rem;
  color: var(--cian);
  border-radius: 0.5rem;
  margin: 0.5rem 0.5rem 0.5rem 0rem;
}
.two .perfil:hover .card {
  transform: translateY(0);
  transition: transform 500ms ease;
}

.div-texto {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.div-texto h2 {
  text-align: center;
  padding-bottom: 2rem;
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
  color: var(--black);
  font-size: 3rem;
  letter-spacing: 0.4rem;
}
.div-texto h2 span {
  color: var(--cian);
}
.div-texto img {
  width: 50%;
}

/* css para los servicios especefico del hospital */
.three {
  padding: 1rem 9%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 2rem;
}
.three div {
  background: rgb(240, 240, 240);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 1.5rem;
}
.three div i {
  color: var(--cian);
  font-size: 3rem;
  padding-bottom: 0.5rem;
}
.three div h3 {
  color: var(--black);
  font-size: 1.5rem;
  padding: 1rem 0;
}
.three div .btn span {
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  background: var(--cian);
  color: rgb(240, 240, 240);
  margin-left: 0.5rem;
}
.three div p {
  color: var(--light-color);
  font-size: 1.4rem;
}
.three div .btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.2rem;
  padding-left: 1rem;
  border: var(--cian) 1px solid;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  color: var(--cian);
  cursor: pointer;
  font-size: 1.2rem;
  background: rgb(240, 240, 240);
  transition: all 0.3s ease;
  text-decoration: none;
}
.three div .btn:hover {
  color: var(--cian);
  transform: translateX(0.5rem);
}
.three div .btn span {
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  background: var(--cian);
  color: rgb(240, 240, 240);
  margin-left: 0.5rem;
  transition: all 0.3s ease;
}
.three div .btn:hover span {
  background: var(--cian);
  color: white;
}

/* ======= login =======*/
.logo {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.logo .imgLogo {
  height: 110px;
  width: 110px;
  border-radius: 150px;
}

.contenedor-login {
  margin: 100px 30px 30px;
  height: 100%;
  /*     background-image: linear-gradient(to bottom right, #9af0ff, #caeffa, #e6f4ff);
   */
  background-color: #69e9ff;
  border-radius: 50% 20% 50% 30%/30% 50% 20% 40%;
}

.formLogin {
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}
.formLogin .divLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.formLogin .divLogo img {
  width: 80%;
}
.formLogin .contenedor {
  width: 50%;
  flex-direction: column;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.formLogin .contenedor div {
  position: relative;
  width: 80%;
  padding: 10px;
  margin: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.formLogin .contenedor div p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 10px;
}
.formLogin .contenedor div p a {
  text-decoration: none;
  color: #1121ff;
}
.formLogin .contenedor div input {
  border: none;
  height: -moz-max-content;
  height: max-content;
  border-radius: 10px;
  padding-left: 1.8rem;
  width: -webkit-fill-available;
  height: 30px;
}
.formLogin .contenedor div .buttom {
  padding-left: 0px;
}
.formLogin .contenedor div a {
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 30px;
  text-align: center;
  margin-top: 1rem;
  text-decoration: none;
  color: #113be4;
}
.formLogin .contenedor div .fas.fa-user, .formLogin .contenedor div .fas.fa-lock {
  position: absolute;
  left: 1rem;
  top: 1rem;
  font-size: 1.2rem;
  color: #ccc;
}
.formLogin .contenedor div:focus,
.formLogin .contenedor div input[type]:focus {
  border-color: rgb(14, 29, 243);
  box-shadow: 0 1px 1px rgba(9, 226, 197, 0.075) inset, 0 0 8px rgba(0, 195, 255, 0.705);
  outline: 0 none;
}
.formLogin .buttom {
  background-image: linear-gradient(to bottom right, #11c8ff, #2196F3);
  border: none;
  color: white;
  height: 3rem;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  text-align: center;
}
.formLogin .buttomhover {
  background-image: linear-gradient(to bottom right, #096683, #53b1ff);
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}

.credit {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

/* ======= register =======*/
.contenedorForm {
  background-image: linear-gradient(to bottom right, #9af0ff, #caeffa, #e6f4ff);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.contenedorForm .intro {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}
.contenedorForm .intro p {
  justify-content: center;
  font-weight: bold;
  font-variant: small-caps;
  font-family: monospace;
  letter-spacing: 4px;
  color: gray;
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem 0;
}
.contenedorForm .logoForm {
  width: 20%;
  height: 20%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}
.contenedorForm .logoForm img {
  width: 100%;
  height: 100%;
  border-radius: 150px;
}
.contenedorForm .formRegister {
  margin: 100px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.contenedorForm .formRegister .btn-register {
  width: 15rem;
}
.contenedorForm .formRegister .btn-register .buttom {
  background-image: linear-gradient(to bottom right, #11c8ff, #2196F3);
  border: none;
  color: white;
  height: 3rem;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  text-align: center;
  width: 15rem;
}
.contenedorForm .formRegister .btn-register .buttomhover {
  background-image: linear-gradient(to bottom right, #096683, #53b1ff);
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}
.contenedorForm .formRegister .contenedorRegister {
  background: transparent;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.contenedorForm .formRegister .contenedorRegister div {
  width: 15rem;
  padding: 10px;
  margin: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contenedorForm .formRegister .contenedorRegister div input {
  border: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 10px;
  width: 95%;
  height: 30px;
  border-radius: 10px;
}

/* ======= citas =======*/
.cuerpo {
  margin: 150px 30px 30px;
}

/* ====== contacto ====== */
.form-contacto {
  margin: 50px auto;
  width: 60%;
}
.form-contacto .terminos label {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form-contacto .terminos label input {
  width: 1.5rem;
  padding: 1rem;
}
.form-contacto .terminos label span {
  padding-left: 10px;
}
.form-contacto label {
  display: block;
  margin-top: 10px;
  margin-bottom: 1px;
}
.form-contacto input,
.form-contacto textarea,
.form-contacto select {
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 2rem;
  box-sizing: border-box;
}
.form-contacto input:focus,
.form-contacto textarea:focus,
.form-contacto select:focus {
  border-color: rgb(14, 29, 243);
  box-shadow: 0 1px 1px rgba(9, 226, 197, 0.075) inset, 0 0 8px rgba(0, 195, 255, 0.705);
  outline: 0 none;
}
.form-contacto input[type=submit] {
  background-color: #008CBA;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}
.form-contacto input[type=submit]:hover {
  background-color: #005D7A;
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

/* ======= citas ======= */
.btn-primary {
  width: 100%;
}

.modal-header {
  background-color: #9af0ff;
}

/* ======= responsive =======*/
@media screen and (min-width: 1260px) {
  .formLogin .divLogo img {
    width: 60%;
  }
}
@media screen and (min-width: 1180px) {
  .one img {
    width: 80%;
  }
}
@media screen and (max-width: 1151px) {
  .two .perfil img {
    height: 20rem;
    width: 80%;
  }
}
@media screen and (min-width: 720px) {
  .toggle-menu {
    display: none;
  }
  .divNav {
    transform: translateY(0);
  }
  .image-respon {
    display: none;
  }
}
@media screen and (max-width: 1040px) {
  .perfil img {
    height: auto;
    width: 100%;
  }
  .two {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}
@media screen and (max-width: 840px) {
  .two {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
  .two .perfil img {
    height: 18rem;
    width: 90%;
  }
  .three div a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 720px) {
  /*     ========= responsive para navbar ========= */
  .intro {
    margin-left: 50px;
    margin-right: 50px;
    padding: 0%;
  }
  .intro p {
    font-size: 25px;
  }
  .logoForm {
    width: 40%;
  }
  nav {
    height: 70px;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    box-shadow: 0.5rem 0.5rem 0 rgba(22, 160, 133, 0.2);
  }
  nav div {
    background-color: white;
  }
  nav .divNav {
    flex-direction: column;
    padding: 3px;
    margin: 3px;
  }
  nav .divNav ul {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
  }
  nav .divNav ul li {
    border: 1px black solid;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3px;
    margin: 3px;
  }
  nav .divNav ul .liimg {
    border: none;
  }
  nav .divNav ul .liimg img {
    border: 1px black solid;
    border-radius: 10px;
  }
  nav .divNav .navAuth {
    padding-right: 0;
  }
  nav .divNav .navAuth .signIn {
    background-color: aqua;
    border-radius: 10px;
  }
  nav .divNav .navAuth .signUp {
    border: 1px aqua solid;
    border-radius: 10px;
  }
  .checkMenu:checked + .divNav {
    transform: translateX(0);
    border-radius: 10px;
  }
  .liimg {
    background: transparent;
  }
  .one {
    padding: 2rem 9%;
  }
  .one .image {
    display: none;
  }
  .one p {
    width: 100%;
  }
  .image-respon img {
    padding-top: 5rem;
  }
  /*  ========== responsive para login ======== */
  .formLogin .divLogo {
    display: none;
  }
  .formLogin .contenedor {
    width: 100%;
  }
  /*  ========== responsive para body index ======== */
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100px;
  }
  #imgSection {
    width: 50%;
  }
  .three div h3 {
    font-size: 1.5rem;
  }
  .two {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
  .two .perfil img {
    height: 15rem;
    width: 12rem;
  }
  .two .perfil .card {
    padding: 0px;
    transform: none;
  }
  .two .perfil .card .share a {
    width: 1.5rem;
    margin: 1rem 0.3rem 0.3rem 1rem;
  }
}
@media screen and (max-width: 645px) {
  .two {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  .two .perfil img {
    height: 20rem;
    width: 70%;
  }
  .contenedor-login {
    margin: 100px 0px 0px;
  }
}
@media screen and (max-width: 520px) {
  .two {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  .two .perfil img {
    height: 20rem;
    width: 70%;
  }
  .contenedor-login {
    margin: 100px 0px 0px;
  }
}
@media screen and (max-width: 420px) {
  .two {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}
@media screen and (max-width: 480px) {
  /*  ========== responsive para text p en register ======== */
  .intro {
    margin-left: 50px;
    margin-right: 50px;
    padding: 0%;
  }
  .intro p {
    font-size: 20px;
  }
  .one p {
    font-size: 3rem;
  }
  /*  ========== responsive para body index ======== */
  .two {
    padding: 0%;
  }
  .three {
    padding: 0%;
    padding-top: 2rem;
  }
  .formLogin .buttom {
    font-size: 20px;
    margin: 4px 4px;
    cursor: pointer;
  }
  .contenedorForm .logoForm img {
    width: 10rem;
  }
  .div-texto h2 {
    font-size: 2rem;
  }
  .div-texto h2 span {
    font-size: 2rem;
  }
  .form-contacto {
    width: 90%;
  }
}
@media screen and (max-width: 360px) {
  /*  ========== responsive para register ======== */
  .one {
    justify-content: center;
  }
  .one p {
    font-size: 2rem;
    width: 100%;
  }
  .formRegister .contenedorRegister div {
    width: 200px;
  }
  .intro p {
    font-size: 20px;
  }
  .one img {
    display: none;
  }
  .two {
    padding: 0%;
  }
  .two .perfil img {
    height: 20rem;
    width: 100%;
  }
  .three {
    padding: 1rem 1%;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  }
  .three div {
    padding: 2rem;
  }
  .footer .box-container {
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
    gap: 2rem;
  }
  .credit {
    font-size: 13px;
  }
  .buttom {
    font-size: 2px;
  }
}
@media screen and (max-width: 280px) {
  .one {
    padding-top: 0%;
  }
  .two {
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  }
  .perfil {
    padding: 0.5rem;
  }
  .three div a {
    font-size: 0.8rem;
  }
  .three div .btn span {
    padding: 0.3rem 0.5rem;
  }
  .credit {
    font-size: 10px;
  }
}/*# sourceMappingURL=sass.css.map */