footer {
    padding: 1rem 9%;
    background-color: rgb(199, 199, 199);
    .box-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
      gap: 2rem;
  
      .box {
        h3 {
          font-size: 2.5rem;
          color: var(--black);
          padding: 1rem 0;
        }
  
        a {
          text-decoration: none;
          display: block;
          font-size: 1rem;
          color: var(--light-color);
          padding: 0.5rem 0;
  
          i {
            padding-right: 0.5rem;
            color: var(--black);
          }
  
          &:hover i {
            padding-right: 2rem;
          }
        }
      }
    }
  
    .credit {
      padding: 1rem;
      padding-top: 1.5rem;
      margin-top: 1.5rem;
      text-align: center;
      font-size: 1rem;
      color: var(--light-color);
      border-top: 0.5rem solid rgba(0, 0, 0, 0.1);
  
      span {
        color: var(--black);
      }
    }
  }
  