@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');/* variables css */


:root {
    --cian: rgb(49, 192, 202);
    --black: rgb(68, 68, 68);
    --light-color: rgb(105, 103, 103);
    --box-shadow: .1rem .1rem 0 rgba(22, 160, 133, .2);
    --text-shadow: .2rem .2rem 0 rgba(0, 0, 0, .2);
    --border: .1rem solid var(--cian);
    --black: rgb(14, 23, 23);
}

* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    background-image: url('../images/background.svg')
}
